<!doctype html> 
<script  src="/static/nanoapp/d3/d3.min.js"></script>
<script src="/static/nanoapp/rickshaw/rickshaw.min.js"></script> 
<link type="text/css" rel="stylesheet" href="/static/nanoapp/rickshaw/rickshaw.min.css">


 
<div id="chart"></div> 
 
<script> 
var ds2 =  [{% for d in ds2 %} {x: {{d.x}}, y: {{d.y}} },   {%  endfor %} ];
var graph = new Rickshaw.Graph( {
    element: document.querySelector("#chart"), 
    width: 600, 
    height: 300, 
    //renderer: 'line',
    series: [{
        color: 'steelblue',
        data: ds2,
        name: '% cpu util',
        //scale: scales[0],
    }]
});

//var time = new Rickshaw.Fixtures.Time();
//var seconds = time.unit('second');

var xAxis = new Rickshaw.Graph.Axis.Time({
    graph: graph,
   // timeUnit: seconds
});

var yAxis = new Rickshaw.Graph.Axis.Y({
    graph: graph,    
    tickFormat: Rickshaw.Fixtures.Number.formatKMBT
});

var graphHover = new Rickshaw.Graph.HoverDetail({
	  graph:graph
	});
 
graph.render();


</script> 